<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Career Services Submissions</title>
  </head>
  <body>
    <h1>Career Services Submissions</h1>
    {{#each data}}
      <strong>Student:</strong> {{name}}
      <br />
      <strong>Domain:</strong> {{doc_type}}
      <br />
      <strong>Standard:</strong> {{link}}
      <br />
      <br />
    {{/each}}
  </body>
</html>
