<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gHQ API</title>
  </head>
  <body>
    <a href="/api/users">See Users</a>
    <br />
    <a href="/api/cohorts">See Cohorts</a>
    <br />
    <a href="/api/daily">See Daily Plans</a>
  </body>
</html>
