<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mastery Submissions</title>
  </head>
  <body>
    <h1>Mastery Submissions</h1>
    {{#each data}}
      <strong>Student:</strong> {{name}}
      <br />
      <strong>Domain:</strong> {{domain}}
      <br />
      <strong>Standard:</strong> {{standard}}
      <br />
      <strong>Demonstration of mastery:</strong> {{demonstration}}
      <br />
      <br />
    {{/each}}
  </body>
</html>
